@import "../../shared/colors.scss";
@import "../../shared/fonts.scss";

.crewDetails {
  color: $primary;
  display: flex;
  width: 100%;

  &__image {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;

    img {
      position: relative;
      top: 80px;
      left: 0;
    }
  }

  &__content {
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100px);

    .heading-4 {
      color: gray;
    }

    .heading-3 {
      margin: 30px 0;
    }

    &-bio {
      max-width: 444px;
      font-family: $barlow;
      font-size: 18px;
      color: $secondary;
      line-height: 32px;
    }
  }
}
