@import "../../shared/fonts.scss";
@import "../../shared/colors.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 30px;

  &__logo {
    padding-left: 30px;
    flex: 1;
  }

  &__line {
    position: absolute;
    height: 0.5px;
    opacity: 0.3;
    width: 43%;
    background-color: $primary;
    right: 49%;
    z-index: 1;
  }

  &__items {
    padding: 0 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 45px;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 1;

    $nav-item-blur: 20px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur($nav-item-blur);
    -webkit-backdrop-filter: blur($nav-item-blur);

    &-item {
      text-transform: uppercase;
      padding: 35px 0;
      color: $primary;
    }
  }

  &-text-bold {
    font-size: 16px;
    font-family: $barlow-condensed;
    font-weight: bold;
    margin-right: 5px;
  }
}
